@import 'scss';

.navigation {
	display: flex;
	gap: 6px;
	justify-content: flex-end;
	margin-bottom: 48px;

	>div {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			background-color: $primary;

			>svg {
				fill: $white;
			}
		}

		>svg {
			width: 24px;
			height: 24px;
			fill: $gray800;
			display: block;
		}
	}
}

.container {
	width: 1230px;
	margin-bottom: 185px;

	h3 {
		@include title-h3;
	}

	h2 {
		margin: 8px 0 60px 0;
		@include title-h2;
	}

	.swiper {
		margin-bottom: 80px;
	}

	.infoBtn {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;

		>p {
			font-weight: 700;
			font-size: 28px;
			line-height: 150%;
			color: $gray900;
		}

		.btnWrapper {
			width: 202px;
		}
	}
}