@import 'scss';

.container {
	width: 1230px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 200px;
	overflow: hidden;

	@media (max-width:$large-size) {
		width: 95%;
		justify-content: center;
		margin-bottom: 80px;
	}

	@media (max-width:$small-size) {
		margin-bottom: 40px;
	}

	.listWrapper {
		h3 {
			@include title-h3;
		}

		h2 {
			@include title-h2;
			margin: 8px 0 60px 0;

			@media (max-width:$regular-size) {
				margin: 0px 0px 20px 0px;
			}
		}

		>ul {
			max-width: 600px;

			@media (max-width:$small-size) {
				width: 100%;
				overflow: hidden;
			}

			>li {

				.titleWrapper {
					cursor: pointer;
					display: flex;
					gap: 8px;
					align-items: center;
					margin-bottom: 10px;

					>svg {
						width: 20px;
						height: 20px;
						display: block;
						fill: $primary;
						margin-right: 12px;
					}

					>span {
						font-size: 20px;
						line-height: 150%;
						color: $primary;
					}

					>p {
						font-weight: 700;
						font-size: 20px;
						line-height: 150%;
						color: $gray900;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;

						@media (max-width:625px) {
							font-size: 16px;
						}

						@media (max-width:525px) {
							width: 300px;
						}

						@media (max-width:450px) {
							font-size: 14px;
							width: 250px;
						}

						@media (max-width:400px) {
							width: 200px;
						}
					}
				}

				.text {
					margin-left: auto;
					max-width: 550px;
					font-size: 16px;
					line-height: 160%;
					color: $gray800;
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-animation: 1s show ease;
					animation: 1s show ease;

					@media (max-width:625px) {
						font-size: 12px;
					}
				}

				.noText {
					display: none;
				}
			}
		}
	}

	>img {
		width: 495px;
		height: 554px;
		display: block;

		@media (max-width:$large-size) {
			display: none;
		}
	}
}

@-webkit-keyframes show {
	from {
		height: 0;
	}

	to {
		height: 104px;
	}
}

@keyframes show {
	from {
		height: 0;
	}

	to {
		height: 104px;
	}
}