@import 'scss';

.container {
	width: 1230px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 180px 0;

	h3 {
		@include title-h3;
	}

	h2 {
		@include title-h2;
		margin: 8px 0 90px 0;
	}

	.menu {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 58px;

		>nav {
			display: flex;
			align-items: center;
			gap: 12px;

			.tab {
				cursor: pointer;
				display: flex;
				align-items: center;
				gap: 8px;
				font-weight: 700;
				font-size: 16px;
				line-height: 160%;
				color: $gray600;
				border: 1px solid transparent;
				padding: 0 20px;
				height: 46px;
				background-color: $gray200;
				border-radius: 4px;

				&:hover {
					border: 1px solid $info
				}

				>svg {
					width: 16px;
					height: 16px;
					fill: $gray600;
					display: block;
				}
			}

			.activeTab {
				@extend .tab;
				color: $primary;
				border: 1px solid $primary;

				>svg {
					fill: $primary
				}
			}
		}
	}

	.selectWrapper {
		display: flex;
		align-items: center;
		gap: 40px;

		.category {
			display: flex;
			gap: 12px;
			align-items: center;

			>span {
				font-weight: 700;
				font-size: 16px;
				line-height: 160%;
				color: $gray800;
			}

			>select {
				width: 160px;
				height: 44px;
				border: 1px solid $gray400;
				border-radius: 4px;
				padding: 0 16px;

			}
		}

		>input {
			background-image: url(../../../assets/backgroundSVGs/search.svg);
			background-repeat: no-repeat;
			background-position: right 13px top 13px;
			width: 285px;
			padding: 0 32px 0 16px;
		}
	}

	>ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 30px;
		margin-bottom: 80px;

		>li {
			width: 390px;
			height: 507px;
			overflow: hidden;
			border-radius: 4px;

			&:hover {
				box-shadow: $small;
			}

			.imgWrapper {
				position: relative;

				>img {
					width: 390px;
					height: 300px;
					display: block;
				}

				.iconDirectionWrapper {
					display: flex;
					align-items: center;
					gap: 4px;
					height: 21px;
					padding: 0 8px;
					background-color: $white;
					border-radius: 4px;
					position: absolute;
					top: 12px;
					left: 12px;
					width: -webkit-fit-content;
					width: -moz-fit-content;
					width: fit-content;

					>svg {
						width: 16px;
						height: 16px;
						display: block;
						fill: $gray800;
					}

					>span {
						font-size: 14px;
						line-height: 150%;
						fill: $gray800;
					}
				}
			}

			.info {
				display: flex;
				align-items: center;
				gap: 12px;
				margin: 16px 0 8px 0;

				>span {
					font-weight: 700;
					font-size: 14px;
					line-height: 150%;
					color: $gray700;
				}

				>svg {
					display: block;
					width: 16px;
					height: 16px;
				}
			}

			.title {
				font-weight: 700;
				font-size: 20px;
				line-height: 150%;
				color: $gray900;
				display: block;
			}

			.text {
				font-size: 16px;
				line-height: 160%;
				color: $gray800;
				display: block;
				max-height: 52px;
				overflow: hidden;
			}

			.method {
				display: flex;
				align-items: center;
				gap: 8px;
				margin-top: 10px;
				cursor: pointer;
				max-width: -webkit-fit-content;
				max-width: -moz-fit-content;
				max-width: fit-content;

				>span {
					font-weight: 700;
					font-size: 16px;
					line-height: 160%;
					color: $gray900;
				}

				>svg {
					width: 24px;
					height: 24px;
					display: block;
					fill: $primary
				}
			}
		}
	}
}