@import 'scss';

.container {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	margin-bottom: 180px;
	overflow: hidden;

	@media (max-width:$large-size) {
		margin-bottom: 80px;
	}

	@media (max-width:$small-size) {
		margin-bottom: 40px;
	}

	h3 {
		@include title-h3;
	}

	h2 {
		@include title-h2;
		margin: 8px 0 -40px 0;
	}
}