@import 'scss';

.container {
	width: 1230px;
	display: flex;
	margin: 152px 0 180px 0;
	justify-content: space-between;
	align-items: flex-end;

	@media (max-width:$large-size) {
		width: 980px;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		margin-bottom: 60px;
	}

	@media (max-width:$regular-size) {
		width: 750px;
	}

	.contacts {
		h3 {
			@include title-h3;
		}

		h2 {
			@include title-h2;
			margin: 8px 0px 40px 0px;
			@media (max-width:$large-size) {
				margin: -5px 0px 20px 0px;
				
			}
		}

		.contactsData {
			display: flex;
			flex-direction: column;
			gap: 24px;
			margin-bottom: 48px;
			fill: $primary;
			@media (max-width:$large-size) {
				gap: 10px;
				margin-bottom: 20px;
			}

			.contactWrapper {
				display: flex;
				gap: 12px;

				.contactsIcon {
					width: 24px;
					height: 24px;
					display: block;
				}

				>article {
					display: flex;
					flex-direction: column;

					@media (max-width:$large-size) {
						flex-direction: row;
						align-items: center;
					}

					.fieldName {
						font-weight: 700;
						font-size: 14px;
						line-height: 150%;
						color: $gray700;

						@media (max-width:$large-size) {
							width: 70px;
						}
					}

					.field {
						font-size: 18px;
						line-height: 150%;
						color: gray900;
					}
				}
			}
		}

		.socialsData {
			display: flex;
			flex-direction: column;
			gap: 24px;

			.followUs {
				font-weight: 700;
				font-size: 16px;
				line-height: 150%;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: $gray900;
			}

			.socialsIconWrapper {
				display: flex;
				gap: 32px;

				.icon {
					width: 24px;
					height: 24px;
					display: block;
					fill: $gray700;
					cursor: pointer;

					&:hover {
						fill: $gray800;
					}
				}
			}
		}
	}

	.map {
		width: 706px;
		height: 412px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}