@import 'scss';

.container {
	width: 100%;
	height: 126px;
	background-color: $white;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 40px;
	padding: 0 40px;
	border-radius: 4px;

	@media (max-width:478px) {
		padding: 0px 0px 0px 0px;
	}

	&:hover {
		box-shadow: $small;
	}

	.date {
		display: flex;
		align-items: center;
		gap: 20px;
		width: 177px;

		@media (max-width:638px) {
			display: none;
		}

		@media (max-width:$regular-size) {
			column-gap: 5px;
			width: 120px;
			overflow: hidden;
		}

		.day {
			font-weight: 900;
			font-size: 48px;
			line-height: 130%;
			color: $primary;

			@media (max-width:$regular-size) {
				font-size: 32px;
			}

		}

		.info {
			display: flex;
			flex-direction: column;
			gap: 4px;

			.month {
				font-weight: 700;
				font-size: 20px;
				line-height: 150%;
				color: $gray900;
			}

			.time {
				font-size: 16px;
				line-height: 160%;
				color: $gray700;

				@media (max-width:$regular-size) {
					font-size: 12px;
				}
			}
		}
	}

	.about {
		display: flex;
		flex-direction: column;
		gap: 4px;

		@media (max-width:$tiny-size) {
			padding-left: 5px;
		}

		.title {
			font-weight: 700;
			font-size: 20px;
			line-height: 150%;
			color: $gray900;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			@media (max-width:$large-size) {
				max-width: 40vw;
			}

			@media (max-width:$small-size) {
				max-width: 200px;
			}
		}

		.format {
			font-size: 16px;
			line-height: 160%;
			color: $gray700;
		}
	}

	.blockWrap {
		margin-left: auto;

		.btnWrapper {
			width: 136px;

			@media (max-width:$tiny-size) {
				width: 80px;
				margin-right: 5px;
			}
		}
	}
}