@import 'scss';

.container {
	width: 1230px;
	margin-bottom: 180px;

	.headWrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 60px;

		.titleWrapper {
			h3 {
				@include title-h3;
				margin-bottom: 8px
			}

			h2 {
				@include title-h2;
			}
		}

		.btnWrapper {
			width: 159px;
		}
	}

	.postsWrapper {
		display: flex;
		justify-content: space-between;
	}
}