@import 'scss';

.container {
	width: 1230px;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media (max-width:$large-size) {
		width: 95%;
	}

	h3 {
		@include title-h3;
	}

	h2 {
		@include title-h2;
		margin: 8px 0 60px 0;

		@media (max-width:$large-size) {
			margin: 0px 0px 20px 0px;
		}

		@media (max-width:$small-size) {
			text-align: center;
		}
	}

	>ul {
		width: 100%;
		display: flex;
		justify-content: space-between;

		@media (max-width:$large-size) {
			-moz-column-gap: 5%;
			column-gap: 5%;
			justify-content: center;
			flex-wrap: wrap;
			row-gap: 10px;
		}

		>li {
			border-radius: 4px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			width: 240px;
			height: 162px;

			>svg {
				width: 48px;
				height: 48px;
				display: block;
			}

			.title {
				font-weight: 700;
				font-size: 20px;
				line-height: 150%;
				color: $gray900;
			}

			.text {
				font-size: 16px;
				line-height: 160%;
				color: $gray700;
				text-align: center;
			}
		}
	}
}