@import 'scss';

.container {
	padding-bottom: 80px;
	background: $bg-opacity;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	background-image: url(../../../assets/backgroundSVGs/circles-events.svg),
		url(../../../assets/backgroundSVGs/dots-events.svg);
	background-repeat: no-repeat;
	background-position: top right, bottom left;

	@media (max-width:$large-size) {
		display: none;
	}

	h3 {
		@include title-h3;
		text-align: center;
		margin-top: 80px;
	}

	h2 {
		@include title-h2;
		text-align: center;
		margin: 8px 0 60px 0;
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.more {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;
		margin-top: 60px;

		>p {
			font-weight: 700;
			font-size: 28px;
			line-height: 150%;
			color: $gray900;
		}

		.btnWrapper {
			width: 214px;
		}
	}
}