@import 'scss';

.content {
	display: flex;
	flex-direction: column;

	@media (max-width:600px) {
		flex-direction: row;
		margin: 60px 0px 0px 0px;
		gap: 5px;
		overflow: hidden;
	}

	.navigation {
		display: flex;
		gap: 6px;
		margin-left: auto;
		margin-bottom: 48px;

		>div {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				background-color: $primary;

				>svg {
					fill: $white;
				}
			}

			>svg {
				width: 24px;
				height: 24px;
				fill: $gray800;
				display: block;
			}
		}
	}

	.container {
		width: 1230px;

		@media (max-width:$large-size) {
			width: 915px;
		}

		@media (max-width:920px) {
			width: 600px;
		}

		@media (max-width:600px) {
			width: 285px;
		}
	}
}