@import 'scss';

.container {
	width: 1230px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 180px;
	overflow: hidden;

	@media (max-width:$large-size) {
		width: 100%;
		justify-content: center;
		margin-bottom: 60px;
	}

	.img {
		width: 435px;
		height: 481px;
		display: block;

		@media (max-width:$large-size) {
			display: none;
		}
	}

	.formWrapper {
		h3 {
			@include title-h3;

			@media (max-width:$small-size) {
				text-align: center;
			}
		}

		h2 {
			@include title-h2;
			margin: 8px 0 40px 0;

			@media (max-width:$small-size) {
				text-align: center;
				margin: 0px 0px 20px 0px;
			}
		}

		.form {

			.inputsWrapper {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 1fr);
				grid-column-gap: 25px;
				grid-row-gap: 24px;
				margin-bottom: 24px;

				@media (max-width:$small-size) {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}

			.fieldWrapper {
				display: flex;
				flex-direction: column;
				gap: 8px;

				@media (max-width:$small-size) {
					gap: 0;
				}

				>label {
					font-size: 16px;
					line-height: 160%;
					color: $gray800;
				}

				.input {
					width: 340px;
					height: 52px;
					border: 1px solid $gray400;
					padding: 0 16px;
					border-radius: 4px;
					color: $gray800;

					@media (max-width:$small-size) {
						width: 380px;
					}
				}

				.errorInput {
					@extend .input;
				}

				.textarea {
					padding: 13px 16px;
					border: 1px solid $gray400;
					width: 705px;
					height: 128px;
					border-radius: 4px;
					resize: none;

					@media (max-width:$small-size) {
						width: 380px;
					}
				}

				.errorTextarea {
					@extend .textarea;
				}
			}
		}

		.sendWrapper {
			display: flex;
			justify-content: space-between;
			margin-top: 48px;

			@media (max-width:$small-size) {
				flex-direction: column;
				align-items: center;
				gap: 10px;
			}

			.checkboxWrapper {
				display: flex;
				gap: 12px;

				@media (max-width:$small-size) {
					align-items: center;
				}

				.checkbox {
					margin-top: 5px;

					@media (max-width:$small-size) {
						margin: 0px 0px 0px 0px;
					}
				}

				>p {
					width: 287px;
					height: 52px;
					font-size: 16px;
					line-height: 160%;
					color: $gray800;

					@media (max-width:$small-size) {
						height: min-content;
					}

					@media (max-width:$small-size) {
						width: 350px;
						font-size: 12.5px;
					}
				}
			}

			.btnWrapper {
				width: 340px;

				@media (max-width:$small-size) {
					width: 380px;
				}
			}
		}
	}
}