@import 'variables';

@mixin button {
	width: 100%;
	border-radius: 4px;
	font-weight: 700;
	transition: .3s ease;
}

@mixin basic-button {
	@include button;
	background: $primary;
	color: $white;

	&:hover {
		background: $warning;
		color: $lilac;
		transition: .3s ease;
	}
}

@mixin outline-button {
	@include button;
	background: transparent;
	color: $primary;
	border: 1px solid $primary;

	&:hover {
		border-color: $lilac ;
		color: $lilac;
		transition: .3s ease;
	}
}