// colors - - - - - - - - - - -
$white: #ffffff;
$primary: #ff3f3a;
$secondary: #ffcf2d;
$success: #03cea4;
$danger: #ff4242;
$warning: #f89828;
$secondary-light: #FED64D;
$info: #5a87fc;
$pink: #F52F6E;
$lilac: #7772F1;
$gray900: #1e212c;
$gray800: #424551;
$gray700: #787a80;
$gray600: #9a9ca5;
$gray500: #b3b7bc;
$gray400: #d7dadd;
$gray300: #e5e8ed;
$gray200: #f4f5f6;
$gray100: #f9f9f9;

$bg-opacity: rgba(234, 60, 7, 0.2);

// gradient - - - - - - - - - -
$btn-gradient: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
$divider-gradient: linear-gradient(270.01deg,
		rgba(218, 219, 221, 0) 0%,
		rgba(218, 219, 221, 0.5) 12.33%,
		#dadbdd 51.91%,
		rgba(218, 219, 221, 0.5) 87.85%,
		rgba(218, 219, 221, 0) 100%);
$slider-gradient: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%,
		rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%,
		rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%,
		rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
//- - - - - - - - - - - - - - -

// shadows- - - - - - - - - - -
$small: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
	0px 30px 24px -10px rgba(154, 156, 165, 0.05),
	0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
$regular: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
	0px 30px 24px -10px rgba(154, 156, 165, 0.1),
	0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
$large: 0px 60px 80px -20px rgba(30, 33, 44, 0.16),
	0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08),
	0px 4px 4px -4px rgba(30, 33, 44, 0.05);
//- - - - - - - - - - - - - - -

// media- - - - - - - - - - - -
$tiny-size: 390px;
$small-size: 768px;
$regular-size: 992px;
$large-size: 1240px;

//- - - - - - - - - - - - - - -

//  quick example ===============

@media (max-width:$tiny-size) {}

@media (max-width:$small-size) {}

@media (max-width:$regular-size) {}

@media (max-width:$large-size) {}