@import 'scss';

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 20px;

	@media (max-width:$large-size) {
		justify-content: center;
		margin: -100px 0px 60px 0px;
		width: 80%;
	}

	@media (max-width:865px) {
		width: 390px;
		overflow: hidden;
	}

	>img {
		width: 507px;
		height: 454px;
		display: block;

		@media (max-width:$large-size) {
			display: none;
		}
	}

	.info {
		display: flex;
		flex-direction: column;

		@media (max-width:$large-size) {
			align-items: center;
		}

		.title {
			font-weight: 900;
			font-size: 32px;
			line-height: 130%;
			color: $gray900;
			width: 600px;

			@media (max-width:$large-size) {
				width: 100%;
				text-align: center;
			}

			@media (max-width:865px) {
				width: 390px;
			}
		}

		.formWrapper {
			margin: 48px 0 24px 0;

			.inputWrapper {
				display: flex;
				align-items: center;
				gap: 24px;

				>input {
					width: 422px;
					height: 52px;
					border-radius: 4px;
					padding: 0 16px;
					border: 1px solid $gray400;

					@media (max-width:865px) {
						width: 212px;
					}
				}

				.btnWrapper {
					width: 154px;
				}
			}
		}

		.checkboxWrapper {
			display: flex;
			align-items: center;
			gap: 12px;

			>span {
				font-size: 16px;
				line-height: 160%;
				color: $gray800;
			}
		}
	}
}